<h1>Compound Interest</h1>
Amount: $<%= @compound_interest_calculation.amount&.round(2) %>
Principal: $<%= @compound_interest_calculation.principal&.round(2) %>
Interest Rate: %<%= @compound_interest_calculation.interest_rate&.round(2) %>
Years: <%= @compound_interest_calculation.years&.round(1) %>
