<h1>Compound Interest</h1>
Amount: $<%= @compound_interest.amount&.round(2) %>
Principal: $<%= @compound_interest.principal&.round(2) %>
Interest Rate: %<%= @compound_interest.interest_rate&.round(2) %>
Years: <%= @compound_interest.years %>
